.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  align-items: center;
  background: #172b4d;
  display: flex;
  height: 70px;
  padding: 5px;
}

.addFileButtonContainer {
  align-items: center;
  border: solid 2px white;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 2em;
  font-weight: bolder;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.addFileButtonContainer:hover {
  background: #445379;
  cursor: pointer;
}

.addFileButtonLabel {
  height: 100%;
  line-height: 1.4;
  text-align: center;
  width: 100%;
}

.addFileButton {
  display: none;
}

.workspace {
  display: flex;
  flex-direction: row;
}

.editor {
  width: 80%;
}

.tools {
  width: 20%;
}

.prepositionChips {
  border-radius: 12px;
  color: purple;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1px 5px;
  margin-left: 5px;
}

.keyWords, .prepositions {
  border-bottom: solid 1px purple;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.chip {
  border: solid 2px purple;
  border-radius: 12px;
  color: purple;
  font-weight: bold;
  font-size: 1.5em;
  padding: 2px 5px;
  margin-left: 5px;
}

.chip:hover {
  color: white;
  cursor: pointer;
  background: purple;
}

.alert {
  background: red;
  border-radius: 12px;
  color: white;
  font-size: 0.8em;
  padding: 1px 5px;
  top: 0;
}